* {
    margin:0 ;
    padding:0 ;
    box-sizing:border-box  ;

}

body {
    cursor: url("./cursor.cur"), auto;
}

header {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
  }


  .tituloCopa{
    font-family: "Roboto", sans-serif;
    text-transform:uppercase ;
    font-size:2rem ;
 
}
.conteiner{
   
    width:100vw ;
}

.list {
    width:100vh ;
    display:flex ;
    justify-content:space-evenly ;
    justify-self: flex-end;
    
    

}



.logo {
    width:5vw ;
    height:10vh ;
}


.item{
    list-style:none ;
    margin-right:5rem ;
}






main {
    background-color:green ;
}

.mexerNoH{
    height: 80vh;
    background-image: url("https://static.corinthians.com.br/uploads/1560193829afdec7005cc9f14302cd0474fd0f3c96.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .show{
    font-size: 5rem;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    padding-left: 200px;
    width: 50%;
  }


  div  {
    display: flex;
    justify-content:space-evenly ;
    margin:2rem ;
  }

  figcaption{
    display:flex ;
    align-items:center ;
    justify-content: space-between;
    text-transform:uppercase ;
    position: relative;
    margin-top:250px ;
    right:12vw;
    font-size:1.5rem ;
  }

  .Bandeiras{
    width:20% ;
  }
  .Bandeiras:hover{
     
     transform:translateX(2%) ;
     transition: transform 0.5 ease-in ;
  }
  footer {
    display:flex ;
  justify-content:space-between ;
  align-items:center ;
  }

  footer img {
    width:12vh ;
    position: relative;
    left:10vh ;
    margin-right:5rem ;
  }


  .caixa {
    display:flex ;
    flex-direction:column ;
    align-items:center ;
  }

  h3 {
      width:35rem ;
      font-size:2rem ;
      letter-spacing:0.2px ;
  }
  


  